{% load staticfiles %}

{% if advert.advert_tv %}
    <div class="fa fa-television" aria-hidden="true" title="телевизор"></div>
{% endif %}
{% if advert.advert_wi_fi %}
    <div class="fa fa-wifi" aria-hidden="true" title="Wi-Fi"></div>
{% endif %}
{% if advert.advert_food %}
    <div class="fa fa-cutlery" aria-hidden="true" title="питание на территории"></div>
{% endif %}
{% if advert.advert_animals %}
    <div class="fa fa-paw" aria-hidden="true" title="размещение с животными"></div>
{% endif %}
{% if advert.advert_parking %}
    <div class="fa fa-car" aria-hidden="true" title="автостоянка"></div>
{% endif %}
{% if advert.advert_parking %}
    <div class="fa fa-shower" aria-hidden="true" title="душ"></div>
{% endif %}
{% if advert.advert_balcony %}
    <img class="balcony" aria-hidden="true" src="{% static 'icons/balcony.svg' %}" title="балкон">
{% endif %}
{% if advert.advert_washer %}
    <img class="washing-machine" aria-hidden="true" src="{% static 'icons/washing-machine.svg' %}" title="стиральная машинка">
{% endif %}
{% if advert.advert_conditioner %}
    <img class="conditioner" aria-hidden="true" src="{% static 'icons/conditioner.svg' %}" title="кондиционер">
{% endif %}
{% if advert.advert_playground %}
    <img class="playground" aria-hidden="true" src="{% static 'icons/playground.svg' %}" title="детская площадка">
{% endif %}
{% if advert.advert_brazier %}
    <img class="brazier" aria-hidden="true" src="{% static 'icons/brazier.svg' %}" title="мангал">
{% endif %}
{% if advert.advert_satellite_tv %}
    <img class="satellite_tv" aria-hidden="true" src="{% static 'icons/satellite.svg' %}" title="спутниковое TV">
{% endif %}
