{% load staticfiles %}



{% if advert.advert_active %}

    <div class="advert">
        <h5>
            <a href="{% url 'advert:one' advert.pk %}">
                {{ advert.advert_name }}
            </a>
        </h5>

{#        <a href="{% url 'advert:one' advert.pk %}">#}
{#            {% if  advert.advert_photo %}#}
{#                <img src="{{ advert.advert_thumbnail_240.url }}" alt="" class="img-responsive img-thumbnail">#}
{#            {% else %}#}
{#                <img src='http://placehold.it/240x130' alt="" class="img-responsive img-thumbnail">#}
{#            {% endif %}#}
{#        </a>#}



        <a href="{% url 'advert:one' advert.pk %}">
            <img src='http://placehold.it/240x130' alt="" class="img-responsive img-thumbnail">
        </a>



        <div class="icons-services">
            {% include 'include/advert_icons.html' %}
        </div>

        <div class="icons-info">
            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9">
                    <p class="fa fa-money" aria-hidden="true" title="цена">&nbsp;
                        <span class="block-color">
                            {% if not advert.advert_price_to %}
                                {{ advert.advert_price_from }} грн.
                            {% else %}
                                от {{ advert.advert_price_from }}
                                до {{ advert.advert_price_to }} грн.
                            {% endif %}
                        </span>
                    </p>
                </div>

                {% if advert.advert_seat %}
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <p class="fa fa-bed" aria-hidden="true" title="спальных мест">
                            <span class="block-color">
                                {{ advert.advert_seat }}
                            </span>
                        </p>
                    </div>
                {% endif %}
            </div>

            <div title="объект недвижимости">
                <img class="for-rent" src="{% static 'icons/for-rent.svg' %}">
                <span class="block-color">
                    &nbsp;{{ advert.get_advert_property_type_display }}
                </span>
            </div>

            <div class="row">
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-10">
                    <p class="fa fa-calendar" aria-hidden="true" title="дата размещения">
                        <span class="block-color">
                            &nbsp; {{ advert.advert_date_pub|date:'d M Y'}}
                        </span>
                    </p>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-2" title="смотреть подробности">
                    <a href="{% url 'advert:one' advert.pk %}">
                        <p class="fa fa-angle-double-down"></p>
                    </a>
                </div>
            </div>

            {% if advert.advert_user == user %}
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 update-advert">
                        <a href="{% url 'advert:update' advert.pk %}" style="color: indianred">редактировать</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>


{% endif %}

