{% extends 'blog_main.html' %}
{% load staticfiles %}


{% block blog_all %}

            {% for i in context_blog_all %}
                <h1><a href="{% url 'blog:one' i.pk %}">{{ i.blog_name }}</a></h1>
                <p>{{ i.blog_content|safe|truncatechars_html:300 }}</p>
                <p><a href="{% url 'blog:one' i.pk %}">читать далее</a></p>
            {% endfor %}

{% endblock %}




