{% extends 'blog_main.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block blog_one %}

            <h1>{{ key_blog_one.blog_name }}</h1>
            <p>{{ key_blog_one.blog_content }}</p>
            {% for comments in  key_comments%}
                <b>Текст комментария: </b>
                <p style="font-style: italic">{{ comments.comments_text }}</p>
                <b>дата публикации: </b>
                <p>{{ comments.comments_pub_date }}</p><br>
            {% endfor %}
            <p>{{ key_comments.comments_text }}</p>

            <form action="{% url 'blog:add_comment' key_blog_one.pk %}" method="post" class="form">
                {% csrf_token %}
                {{ form|crispy }}
                    <button type="submit" class="btn btn-warning">Добавить комментарий</button>

            </form>


{% endblock %}













