{% extends 'main.html' %}
{% load staticfiles %}

{% block content %}
    <div class="blog_main">
        <div class="container">
        <h1 style="text-align: center">Блог</h1>
            <div class="row">
                <div class="col-sm-9 col-md-8 col-lg-9">

                    {% block blog_one %}{% endblock %}
                    {% block blog_all %}{% endblock %}

                    <div class="pagination-large hidden-xs">
                        <div class="row">
                            <div class="col-lg-12">
                                {% include 'pagination.html' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-4 col-lg-3">

                </div>

                <div class="pagination-small visible-xs">
                    <div class="row">
                        <div class="col-xs-12">
                            {% include 'pagination.html' %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

{% endblock %}



