{% extends 'advert_main.html' %}
{% load staticfiles %}

{% block advert_price_up %}
    {% for advert in context_advert_filter_price_up %}
        {% include 'include/advert_list.html' %}
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <p>
        <a href="{% url 'advert:filter_price_down' %}">сортировать по цене
            &nbsp;<span class="fa fa-long-arrow-up" aria-hidden="true"></span>
        </a>
    </p>
    <p>
        <a href="{% url 'advert:filter_property_type_up' %}">сортировать по типу
            &nbsp;<span class="" aria-hidden="true"></span>
        </a>
    </p>
    <p><a href="{% url 'advert:all' %}">сбросить</a></p>
{% endblock %}



