@charset "utf-8";

/*главное меню*/

nav.navbar.navbar-default{
    margin-top: 20px;
}
/*главное меню end*/



/* меню оъявлений */

.row .btn-group.btn-group-justified{
    margin-top: -22px;
}

.container div .btn-group{
    text-align: center;
}


.header .container .btn-group .left a{
    border-bottom-left-radius: 5px;
    border-right: none;
}

.header .container .btn-group .right a{
    border-bottom-right-radius: 5px;
       border-left: none;
}


.container div .btn-group a{
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7;
    padding-top: 13px;
    padding-bottom: 3px;
    display: block;
    height: 100%;
    width: 100%;
}

.container div .btn-group a:hover{
    text-decoration: none;
    background-color: #E7E7E7;
    -moz-transition: background-color 0.8s 0.1s ease;
    -o-transition: background-color 0.8s 0.1s ease;
    -webkit-transition: background-color 0.5s 0.01s ease;
}
/* меню оъявлений end*/



/*h1 в контенте*/

.content .container h1{
    margin-bottom: 20px;
}
/*h1 в контенте end*/



/*masonry*/

.content .container .advert{
    border: 1px solid rgba(172, 206, 254, 0.71);
    margin-bottom: 20px;
    padding: 10px;
    background-color: #F8F8F8;
    border-radius: 2px;
}

.advert .icons-services div{
    font-size: 1.4em;
    color: #627aa5;
    margin: 0 1px 7px 1px;
}

.advert .icons-services img{
    width: 1.5em;
    height: 1.5em;
    margin-top: -7px ;
}

.advert .icons-info p{
    font-size: 1.3em;
    color: #56958d;
}

.advert .icons-services{
    margin: 10px;
}

.advert .icons-info .block-color{
    color: #000000;
    font-size: 14px;
}

.content .row.masonry .fa-bed{
    font-size: 1.2em;
}

.icons-info .for-rent {
    width: 1.5em;
    height: 1.5em;
    margin-bottom: 10px;
}

.content .row.masonry .fa-angle-double-down{
    font-size: 2.5em;
    color: #627AA5
}

.content .row.masonry .fa-angle-double-down:hover{
    color: #000000;
}



/*выравнивает картинку по центру на небольших экранах*/
.content .container .advert  a img{
    margin: 0 auto;
    display: block;
}
/*выравнивает картинку по центру на небольших экранах end*/



/*настройка salvattore*/

a.spoiler:after {
    content: " [-]";
}

a.spoiler.collapsed:after {
    content: " [+]";
}
.nav-tabs {
	margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
	.masonry[data-columns]::before {
		content: '1 .col-xs-12';
	}
}

@media screen and (min-width: 768px) and (max-width: 991px) {
	.masonry[data-columns]::before {
		content: '2 .col-xs-6';
	}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
	.masonry[data-columns]::before {
		content: '2 .col-xs-6';
	}
}

@media screen and (min-width: 1200px) {
	.masonry[data-columns]::before {
		content: '3 .col-xs-4';
	}
}
/*настройка salvattore end*/
/*end masonry*/



/*advert one*/

.content-advert-list .container div{
    font-size: 1.4em;
    color: #627aa5;
    margin: 0 1px 7px 1px;
}

.content-advert-list .container img{
    width: 1.5em;
    height: 1.5em;
    margin-top: -7px ;
}
/*advert one end */



/*pagination*/

.pagination-large{
    text-align: center;
    margin: 3em 0 7em 0;
}

.pagination-small{
    text-align: center;
    margin: 3em 0 7em 0;
}
/*pagination end*/


/*sidebar*/
/*sidebar filter*/

.content .container .sidebar{
    background-color: #F8F8F8;
    border: 1px solid #E7E7E7 ;
}

.content .container .filter{
    padding: 3em;
}

.content .container p#filter {
    color: #333333;
    font-size: 2.5ex;
}

.content .container .filter a:hover{
    text-decoration: none;
    color: #2a9ef5;
}


/*sidebar filter end*/
/*sidebar end*/








/*.new-user{*/
    /*font-size: 0.5em;*/
/*}*/


