{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" name="Viacheslav Kardash">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Все объявления</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'my.css' %}">
</head>

<body>
    {% block header %}{% endblock %}
    {% block auth_main %}{% endblock %}
    {% block content %}{% endblock %}
    {% block footer %}{% endblock %}

    <script src="{% static 'jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block upload_ajax_js %}{% endblock %}
    {% block salvattore_js %}{% endblock %}
</body>
</html>

