{% load staticfiles %}

    <div class="header">
        <div class="container">
            <div class="row">
                <div class="row">
                    <div class="col-sm-10 col-md-10 col-lg-10 title">
                        <h1>{% block name_site %}Отдых в Бердянске{% endblock %}</h1>
                    </div>

                    <div class="col-sm-2 col-md-2 col-lg-2 user">
                        {% if user.username %}
                            <a href="{% url 'logout' %}">Выйти ({{ user.username }})</a>
                        {% else %}
                            <a href="{% url 'login' %}">Войти</a> |
                            <a href="{% url 'signup' %}">Регистрация</a>
                        {% endif %}
                    </div>
                </div>

                <nav class="navbar navbar-default" role="navigation">
                    <div class="container">

                        {# менюшка для малых экранов#}
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#Menu" aria-expanded="false">
                                <span class="sr-only">Toogle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a href="" class="navbar-brand">Logo</a>
                        </div>
                        {# end менюшка для малых экранов#}

                        {# менюшка для десктопов #}
                        <div class="collapse navbar-collapse" id="Menu">
                            <ul class="nav navbar-nav" role="menubar">
                                <li class="active">
                                    <a href="#">Главная <span class="sr-only"></span></a>
                                </li>
                                <li><a href="{% url 'blog:all' %}">Блог</a></li>
                                <li><a href="">Куда пойти</a></li>
                                <li><a href="">Контакты</a></li>
                                <li><a href="">Платные объявления</a></li>
                                <li><a href="{% url 'cabinet' %}">Кабинет</a></li>
                            </ul>
                        </div>
                        {# end менюшка для десктопов #}
                    </div>
                </nav>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="btn-group btn-group-justified">
                    <div class="btn-group left">
                        <a href="{% url 'advert:all' %}" class="">
                            <p>Найти объявление</p>
                        </a>
                    </div>
                    <div class="btn-group right">
                        <a href="{% url 'advert:add' %}" class="">
                            <p>Разместить объявление</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>







