{% extends 'main.html' %}
{% load staticfiles %}


{% block auth_main %}
    <div class="auth">
        <div class="container">
            <div class="row">
                <div class="col-lg-offset-2 col-lg-7 col-lg-offset-2">
                    {% block login %}{% endblock %}
                    {% block sign_up %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
