{% extends 'auth/auth_main.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block login %}
  <h2>Войти | <span style="font-size: 1em"><a href="{% url 'signup' %}">Зарегистрироваться:</a></span></h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-info">Войти</button>
  </form>
{% endblock %}
