{% extends 'auth/auth_main.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}

{% block sign_up %}
  <h2>Регистрация пользователя:</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-default">зарегистрировать</button>
  </form>
{% endblock %}