{% extends 'main.html' %}
{% load staticfiles %}


{% block content %}
    <div class="content">
        <div class="container">
            <h1 style="text-align: center">Объявления</h1>
            <div class="row main">
                <div class="col-sm-9 col-md-8 col-lg-9">
                    {% block advert_one %}{% endblock %}
                    {% block advert_add %}{% endblock %}
                    <div class="row masonry" data-columns>
                        {% block cabinet %}{% endblock %}
                        {% block advert_all %}{% endblock %}
                        {% block advert_price_up %}{% endblock %}
                        {% block advert_price_down %}{% endblock %}
                        {% block advert_property_type %}{% endblock %}
                    </div>

                    <div class="pagination-large hidden-xs">
                        <div class="row">
                            <div class="col-lg-12">
                                {% include 'pagination.html' %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-3 col-md-4 col-lg-3 sidebar">
                    <div class="filter">
                        {% if padinator.page_range != page_obj %}
                            <p id="filter">фильтр:</p>
                        {% endif %}

                        {% block sidebar %}{% endblock %}
                    </div>
                </div>

                <div class="pagination-small visible-xs">
                    <div class="row">
                        <div class="col-xs-12">
                            {% include 'pagination.html' %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}


{% block salvattore_js %}
    <script src="{% static 'salvattore/salvattore.min.js' %}"></script>
{% endblock %}



{#{% for i in paginator.page_range %}#}
{#      {% if page_obj.number == i %}#}
{#        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>#}
{#      {% else %}#}
{#        <li><a href="?page={{ i }}">{{ i }}</a></li>#}
{#      {% endif %}#}
{#    {% endfor %}#}














{##}
{#{% block content %}#}
{#    <div class="content">#}
{#        <div class="container">#}
{#        <h1>Объявления</h1>#}
{#            <div class="row main">#}
{#                <div class="col-lg-9 col-md-8 col-sm-9">#}
{#                    <div class="row masonry" data-columns>#}
{#                        {% block price %}{% endblock %}#}
{#                        {% block default %}{% endblock %}#}
{#                        {% block property_type %}{% endblock %}#}
{#                    </div>#}
{#                </div>#}
{##}
{#                <div class="col-lg-3 col-md-4 col-sm-3">#}
{##}
{#                {% block sidebar %}{% endblock %}#}
{##}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}