{% extends 'advert_main.html' %}
{% load staticfiles %}

{% block advert_all %}
    {% for advert in context_advert_all %}
        {% include 'include/advert_list.html' %}
    {% endfor %}
{% endblock %}

{% block sidebar %}
    <p>
        <a href="{% url 'advert:filter_price_up' %}">сортировать по цене
            &nbsp;<span class="" aria-hidden="true"></span>
        </a>
    </p>
    <p>
        <a href="{% url 'advert:filter_property_type_up' %}">сортировать по типу
            &nbsp;<span class="" aria-hidden="true"></span>
        </a>
    </p>
{% endblock %}