{% extends 'advert_main.html' %}
{% load staticfiles %}

{% block advert_one %}
            <h1>{{ advert.advert_name }}</h1>
            <p>{{ advert.advert_content }}</p>
            {% include 'include/advert_icons.html' %}
            <p>{{ advert.advert_pub_date|date }}</p>
            <p>сейчас у нас {{ time_now }}</p>
            <p>просмотров - {{ advert.advert_views }}</p>
            <p>{{ advert.advert_user }}</p>

{#                {% if advert.advert_photo %}#}
{#                    {% if  advert.advert_thumbnail_350 %}#}
{#                        <a href="{{ advert.advert_photo.url }}">#}
{#                            <img src="{{ advert.advert_thumbnail_350.url }}" alt="фото">#}
{#                        </a>#}
{##}
{#                    {% endif %}#}
{#                {% endif %}#}





{% if advert.advert_user == user %}
  <a href="{% url 'advert:update' pk=object.pk %}">редактировать</a>
{% endif %}





{% endblock %}




{% block sidebar %}
    <p><a href="{% url 'advert:filter_price_up' %}">сортировать по цене</a></p>
    <p><a href="{% url 'advert:filter_property_type_up' %}">сортировать по району</a></p>
    <p><a href="{% url 'advert:all' %}">перейти ко всем</a></p>
{% endblock %}

