{% extends 'advert_main.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}



{% block advert_add %}

    <h2>Разместить объявление:</h2>
    <form action="" method="post" enctype="multipart/form-data"  >
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-default" >отправить</button>
    </form>

    <div style="margin-bottom: 20px;">
        <button type="button" class="btn btn-primary js-upload-photos">
            <span class="glyphicon glyphicon-cloud-upload"></span> Загрузить фото
        </button>
        <input id="fileupload"
               type="file"
               name="photo_origin"
               multiple style="display: none;"
               data-url="{% url 'advert:add' %}"
               data-form-data='{"csrfmiddlewaretoken": "{{ csrf_token }}"}'>
    </div>




    <table id="gallery" class="table table-bordered">
    <thead>
      <tr>
        <th>загруженные фото:</th>
      </tr>
    </thead>
    <tbody>
      {% for photo in photo_origin %}
        <tr>
          <td><a href="{{ photo.photo_origin.url }}">{{ photo.photo_origin.name }}</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

 <form method="post" action="{% url 'advert:clear_database' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ request.path }}">
    <button type="submit" class="btn btn-danger pull-right">
      <span class="glyphicon glyphicon-trash"></span> Удалить фотографии
    </button>
    </form>




    <div class="modal fade" id="modal-progress" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">загрузка...</h4>
                </div>

                <div class="modal-body">
                    <div class="progress progress-striped">
                        <div class="progress-bar progress-bar-info" role="progressbar" style="width: 0%;">0%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block upload_ajax_js %}
    <script src="{% static 'upload_ajax/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'upload_ajax/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'upload_ajax/jquery.fileupload.js' %}"></script>
    <script src="{% static 'upload_ajax/progress-bar-upload.js' %}"></script>
{% endblock %}
