{% extends 'advert_main.html' %}
{% load staticfiles %}
{% load crispy_forms_tags%}


{% block advert_add %}
    <h2>Резместить объявление:</h2>
    <form action="" method="post" enctype="multipart/form-data"  >
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-default" >отправить</button>
    </form>

{% endblock %}