{% extends 'advert_main.html' %}

{% block cabinet %}

    {% for advert in context_cabinet %}

on        {% include 'include/advert_list.html' %}

    {% endfor %}
    <h4><a href="{% url 'advert:all' %}">на главную</a></h4>
{% endblock %}


{% block sidebar %}
    <p>
        <a href="{% url 'advert:filter_price_up' %}">сортировать по цене
            &nbsp;<span class="fa fa-long-arrow-down" aria-hidden="true"></span>
        </a>
    </p>
    <p>
        <a href="{% url 'advert:filter_property_type_up' %}">сортировать по типу
            &nbsp;<span class="" aria-hidden="true"></span>
        </a>
    </p>
    <p><a href="{% url 'advert:all' %}">сбросить</a></p>
{% endblock %}