{% load staticfiles %}

<div class="container" style="text-align: center">
    <div class="row">
        <h2>Объявление добавлено успешно. В течении суток оно появится на сайте</h2>
        <h3><a href="{% url 'advert:all' %}">вернуться на сайт</a></h3>
    </div>
</div>




<div class="message-id">
    <p>Ваше сообщение отправлено</p>
</div>
